<div *ngIf="model" [ngClass]="'skill skill--' + level" >
  <div class="skill__content">
    <h3 *ngIf="!level" class="skill__content__title">{{ model.title }}</h3>
    <span *ngIf="level" class="skill__content__title">{{ model.title }}</span>
    <div class="skill-score" *ngIf="model.score">
      <div *ngFor="let starNumber of [0.0, 1.0, 2.0, 3.0, 4.0]">
        <fa-icon
          *ngIf="starNumber + 1 <= model.score"
          [icon]="fasStar"
        ></fa-icon>
        <fa-icon
          *ngIf="starNumber + 0.5 == model.score"
          [icon]="fasStarHalfAlt"
        ></fa-icon>
        <fa-icon *ngIf="starNumber >= model.score" [icon]="farStar"></fa-icon>
      </div>
    </div>
  </div>
  <div
    class="skill__sub-skills"
    *ngIf="model.skills"
  >
    <app-skill
      *ngFor="let skill of model.skills"
      [model]="skill"
      [level]="level + 1"
    ></app-skill>
  </div>
</div>
