.panel {
  background-color: var(--panel-background-color);

  .panel-block {
    color: var(--font-color);
  }

  .panel-heading__title {
    padding-left: 1rem;
  }
}

.main-skills {
  padding: 1rem;
  display: grid;
  grid-row-gap: 1.5rem;
}
