<div *ngIf="model" class="panel is-success mb-3">
  <h2 class="panel-heading">
    <fa-icon class="panel-heading__icon" [icon]="faCoffee"></fa-icon>
    <span class="panel-heading__title">{{ model.title }}</span>
  </h2>
  <div
    class="panel-block"
    *ngIf="model.formations && model.formations.length > 0"
  >
    <app-formations [model]="model.formations"></app-formations>
  </div>
  <div *ngIf="model.experiences && model.experiences.length > 0">
    <div class="panel-block" *ngFor="let experience of model.experiences">
      <app-experience
        [model]="experience"
        class="column is-full"
      ></app-experience>
    </div>
  </div>
  <div *ngIf="model.skills && model.skills.length > 0" class="main-skills">
    <app-skill
      *ngFor="let skill of model.skills"
      [model]="skill"
      class="main-skill"
    ></app-skill>
  </div>
  <div *ngIf="model.hobbies && model.hobbies.length > 0" class="is-full">
    <app-hobby [model]="model.hobbies"></app-hobby>
  </div>
</div>
