.panel {
  background-color: #fafafa;
}

.main-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-skill {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.1rem;
}
