<div class="panel is-success mb-3">
  <h1 class="panel-heading">
    <fa-icon [icon]="faCoffee"></fa-icon>
    <span>{{ model.title }}</span>
  </h1>
  <div class="panel-block" *ngIf="model.formations">
    <app-formations [model]="model.formations"></app-formations>
  </div>
  <div *ngIf="model.experiences">
    <div
      class="panel-block"
      *ngFor="let experience of model.experiences; index as i"
    >
      <app-experience [model]="model.experiences"></app-experience>
    </div>
  </div>
  <div *ngIf="model.skills" class="main-skills">
    <app-skill
      *ngFor="let skill of model.skills"
      [model]="skill"
      class="main-skill"
    ></app-skill>
  </div>
  <div *ngIf="model.hobbies" class="is-full">
    <app-hobby [model]="model.hobbies"></app-hobby>
  </div>
</div>
