<div class="main">
  <div class="container">
    <section class="box hero is-success">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img
              src="https://bulma.io/images/placeholders/128x128.png"
              alt="Image"
            />
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>{{ data.generalInformation.title }}</p>
            <div *ngIf="data.generalInformation" class="content">
              <!-- Personal information -->
              {{ data.generalInformation.lastName }}
              <br />
              {{ data.generalInformation.firstName }}
            </div>
          </div>
        </div>
      </article>
    </section>
    <div class="columns">
      <section class="column is-one-quarter">
        <article class="panel">
          <div *ngFor="let thematic of data.thematics; index as i">
            <a class="panel-block is-active">
              <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              {{ thematic.title }}
            </a>
          </div>
        </article>
      </section>
      <section class="column is-three-quarters">
        <div *ngFor="let thematic of data.thematics; index as i">
          <app-thematic [model]="thematic" [index]="i"></app-thematic>
        </div>
      </section>
    </div>
  </div>
</div>
