fieldset {
  margin: 8px;
  border: 1px solid silver;
  padding: 8px;
  border-radius: 4px;
}

legend {
  padding: 2px;
}

.box.hero {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
