<div *ngIf="model" class="card">
  <header class="card-header">
    <div class="card-header-title experience-title">
      <p class="title is-4">{{ model.title }}</p>
      <p class="title is-5">
        {{
          model.to
            ? "From " +
              dateToString(model.from) +
              " to " +
              dateToString(model.to)
            : "Since " + dateToString(model.from)
        }}
      </p>
    </div>
    <button
      class="card-header-icon"
      aria-label="more options"
      (click)="onToggleDisplayContent()"
    >
      <fa-icon [icon]="headerIcon"></fa-icon>
    </button>
  </header>
  <div *ngIf="displayContent" class="card-content">
    <div class="content">
      <p>{{ model.description }}</p>
      <div class="missions">
        <app-mission
          *ngFor="let mission of model.missions"
          [model]="mission"
        ></app-mission>
      </div>
    </div>
  </div>
</div>
